# DRF - Django REST Framework
/refresh/.idea

/refresh/authenticate/__pycache__
/refresh/authenticate/migrations

/refresh/config/__pycache__

/refresh/todo/__pycache__
/refresh/todo/migrations

/refresh/db.sqlite3


# Vue.js with Bootstrap 5
/vue-bs5/node_modules