# DRF - Django REST Framework
/drf/.idea

/drf/authenticate/__pycache__
/drf/authenticate/migrations

/drf/config/__pycache__

/drf/todo/__pycache__
/drf/todo/migrations

/drf/db.sqlite3


# Vue.js with Bootstrap 5
/vue-bs5/node_modules