@import './properties';

.main-menu {
    background-color: $primary !important;
    margin-bottom: 15px;

    .navbar {
        // height: 80px !important;

        .navbar-brand {
            color: $text12;
            font-weight: bold;
            text-shadow: 3px 3px 3px $important;
            margin-right: 10px;
            cursor: pointer;

            img {
                margin-right: 20px;
            }
        }

        .navbar-toggler {
            color: $text12 !important;

            &:focus {
                box-shadow: 0 0 0 0 !important;
            }
        }

        .navbar-collapse {
            margin-top: 8px;

            .nav-link {
                padding: 5px 20px 5px 20px;
                color: $text11 !important;
                cursor: pointer;

                &.active {
                    color: $text12 !important;
                    // background-color: $important !important;
                    // font-weight: bold;
                    border-bottom: 2px solid $text12;
                }
            }
        }
    }
}

.page-menu {

    // PageMenu Title
    .title {
        color: $primary;
        font-size: 20px;
        font-weight: bolder;
        height: 50px;
    }

    // PageMenu Subtitle
    .sub-title {
        color: $important;
        font-size: 25px;
        font-weight: bold;
        height: 45px;
        border-bottom: 1px solid $primary;
        margin: 30px 0px 20px 0px;
    }

    // PageMenu Sub Menu
    .sub-menu {

        // Avatar Circle Size & BG-Color
        .rounded-circle {
            width: 35px;
            height: 35px;
            background-color: $important;

            // Avatar(Font) Size & Color
            span {
                font-size: 20px;
                // color: $important;
                color: $text12;
                // background-color: $important !important;
            }
        }

        // Sub Menu Label
        .menu-label {
            font-size: 18px;
            // font-weight: bold;
            color: $important;
        }

        // Sub Menu Caption
        .menu-caption {
            font-size: 15px;
            color: $secondary;
        }

        // Sub Menu Margin & Cursor type
        margin-bottom: 15px;
        cursor: pointer;
    }
}