$primary: #2f9688;
$important: #24796b;
$sub: #75b798;
$secondary: #455a64;
$normal:#0d6efd;
$warning: #dc3545;
$danger: #f44336;
$info: #0bcaf0;

$text11: #d1e7dd;
$text12: white;
$text21: #051b11;
$text22: black;
